# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcworkspace
!default.xcworkspace

#CocoaPods
Pods
!Podfile
!Podfile.lock

#node
node_modules/

script/cache
.babelrc
.buckconfig
.flowconfig
.gitattributes
.watchmanconfig
app.json
android/build.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
android/app/BUCK
android/app/build.gradle
android/app/proguard-rules.pro
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/aboutmoudle/MainActivity.java
android/app/src/main/java/com/aboutmoudle/MainApplication.java
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/styles.xml
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
android/keystores/BUCK
android/keystores/debug.keystore.properties
ios/AboutMoudle/AppDelegate.h
ios/AboutMoudle/AppDelegate.m
ios/AboutMoudle/Info.plist
ios/AboutMoudle/main.m
ios/AboutMoudle-tvOS/Info.plist
ios/AboutMoudle-tvOSTests/Info.plist
ios/AboutMoudle.xcodeproj/project.pbxproj
ios/AboutMoudle.xcodeproj/xcshareddata/xcschemes/AboutMoudle-tvOS.xcscheme
ios/AboutMoudle.xcodeproj/xcshareddata/xcschemes/AboutMoudle.xcscheme
ios/AboutMoudle/Base.lproj/LaunchScreen.xib
ios/AboutMoudle/Images.xcassets/Contents.json
ios/AboutMoudle/Images.xcassets/AppIcon.appiconset/Contents.json
ios/AboutMoudleTests/AboutMoudleTests.m
ios/AboutMoudleTests/Info.plist
